@charset "UTF-8";

:root {

    --cor0: #b57c00;
    --cor1: #d09306;
    --cor2: #ecab0f;
    --cor3: #f7d547;
    --cor4: #ffff72;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;

}

body {
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    text-align: center;
}


header {
    background-image: linear-gradient(#b57c00, #ecab0f);
    border-radius: 10px;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

div.caixa  h1 {
    box-shadow: 1px;

}


nav > a {
    background-color: var(--cor0);
    color: white;
    padding: 15px;
    display: inline-block;
    padding-inline: 20px;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor0);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.468);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

main > article > h1 {
    color: var(--cor0);
    background-color: var(--cor3);
}

main > article > p {
    text-align: center;
    display: inline-block;
    background-color: var(--cor2);
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    width: 780px;
}


div.pacote {
    text-align: center;
    display: inline-block;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

div#q1 {

}

div#q1 {
    
}

div#q1 {
    
}

footer {
    background-color: var(--cor0);
    color: white;
    border-radius: 5px;
}

footer > p {
    font-weight: bold;
    font-size: 1.4em;
}

div.contatos {
    text-align: center;
    display: inline-block;
    background-color: blue;
    border: 0.5px solid rgba(0, 0, 0, 0.405);
    border-radius: 8px;
    margin: 15px;
    width: 40px;
    height: 40px;
}

div#c1 {
    
}

div#c2 {

}

div#c3 {

}